name: My First CI
on: [push]
jobs:
  check-files:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Say Hello
        run: echo "Привет, Дима! Все опечатки исправлены, летим!"
      - name: Check files list
        run: ls -la
